* {
  text-transform: capitalize;
  font-family: 'Kalam', cursive;
}


li {
  background: rgba(228, 228, 228, 0.952);
  /* list-style: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;

}

li .cross {
  color: red;
  cursor: pointer;
  padding: 0rem 0.4rem;
  background: rgba(228, 228, 228, 0.952);
}

li:hover {
  background-color: rgb(190, 190, 190);
}